
/* Your CSS Code here. */
.holder{
	display: grid;
  grid-template-rows: repeat(2, 100px);
  grid-template-columns: repeat(2, 100px);
  grid-gap: 10px;
	
}
.item-1{
	background-color: black;
}
.item-2{
	background-color: black;
}
.item-3{
	background-color: black;
}
.item-4{
	background-color: black;
}