
/* Your CSS Code here. */
.holder{
	display: grid;
	grid-template-columns: 100px 100px;
	
	
}
.item-1{
	background-color: black;
}
.item-2{
	background-color: black;
}
.item-3{
	background-color: black;
}
.item-4{
	background-color: black;
}